<button class="tab expand">+</button>
<form class="hidden">
  <h4>New <%= _.titleize(_.singularize(collection.model.prototype.class)) %></h4>
  <div class="row">
    <%= formInputs %>
  </div>
  <h5>Select Actor</h5>
  <ul>
    <%= executable ? '<li>executable</li>' : '' %>
    <%= callable   ? '<li>callable</li>'   : '' %>
    <%= votable    ? '<li>votable</li>'    : '' %>
  </ul>
  <% if (executable && callable) { %>
    <select class="authorizee-type" name="authorizee-type">
      <option value="position">Position</option>
      <option value="electorate">Electorate</option>
    </select>
  <% } else if (executable) { %>
    <i>Position:</i>
  <% } else if (callable) { %>
    <i>Electorate:</i>
  <% } %>
  <input class="button-primary" value="Submit" type="submit">
</form>
