<div class="row">
  <h1><%= fraction.escape('name') %></h1>
</div>

<div class="row">
  <div class="four columns">
    <div class="tab">
      <h3><a href="#">Information</a></h3>
    </div>
    <div class="tab">
      <h3><%= fraction.electorates().a('Electorates') %></h3>
    </div>
    <div class="tab">
      <h3><%= fraction.positions().a('Positions') %></h3>
    </div>
    <div class="tab">
      <h3><%= fraction.regions().a('Regions') %></h3>
    </div>
    <div class="tab">
      <h3><%= fraction.children().a('Children') %></h3>
    </div>
  </div>
  <div class="eight columns">
    <div class="tab-content"></div>
  </div>
</div>

<div class="row">
  <div class="four columns">
    <h3>Events</h3>
    <ul>
      <li>new electorates, positions, regions</li>
      <li>completed ballots</li>
      <li>completed wars</li>
    </ul>
  </div>
  <div class="four columns">
    <h3>Ballots</h3>
    <p>
      A display of all ongoing ballots, with icon indicating whether current character can participate
    </p>
  </div>
  <div class="four columns">
    <h3>Wars</h3>
    <p>
      A display of all ongoing wars
    </p>
  </div>
</div>
