<h1><%= fraction.escape("name") %>,
<% if (fraction.parent().escape('id')) { %>
  a fraction of <a href=<%= fraction.parent().urlFragment() %>><%= fraction.parent().escape("name") %></a>
  <% if (fraction.parent().escape('id') !== fraction.root().escape('id')) { %>
   in the realm of <a href=<%= fraction.root().urlFragment() %>><%= fraction.root().escape("name") %></a>
  <% } %>
<% } else { %>
  an independent realm
<% } %>
</h1>

<h2>Founded by
<% if (fraction.get('founder_type') === 'Fraction') { %>
  the fraction
<% } %>
<a href=<%= fraction.founder().urlFragment() %>><%= fraction.founder().escape("name") %></a>
</h2>

<div id="electorates" class="fractions-object-electorate">
  <h3>Electorates</h3>
  <div class="row">
    <div class="six columns">
      <div id="electorates-list"></div>
    </div>
    <div class="six columns">
      <div id="electorates-new"></div>
    </div>
  </div>
</div>
<div id="positions" class="fractions-object-position">
  <h3>Positions</h3>
  <div class="row">
    <div class="six columns">
      <div id="positions-list"></div>
    </div>
    <div class="six columns">
      <div id="positions-new"></div>
    </div>
  </div>
</div>
<div id="regions" class="fractions-object-region">
  <h3>Regions</h3>
  <div class="row">
    <div class="six columns">
      <div id="regions-list"></div>
    </div>
    <div class="six columns">
      <div id="regions-new"></div>
    </div>
  </div>
</div>
<div id="children" class="fractions-object-fraction">
  <h3>Child Fractions</h3>
  <div class="row">
    <div class="six columns">
      <div id="children-list"></div>
    </div>
    <div class="six columns">
      <div id="children-new"></div>
    </div>
  </div>
</div>
<div id="founded-fractions" class="fractions-object-fraction">
  <h3>Founded Fractions</h3>
  <div class="row">
    <div class="six columns">
      <div id="founded-fractions-list"></div>
    </div>
    <div class="six columns">
      <div id="founded-fractions-new"></div>
    </div>
  </div>
</div>
