<h1>Fraction: <%= fraction.escape("name") %></h1>

founder: <a href=<%= fraction.founder().urlFragment() %>><%= fraction.founder().escape("name") %></a>
<br>
parent: <a href=<%= fraction.parent().urlFragment() %>><%= fraction.parent().escape("name") %></a>

<div id="electorates" class="fractions-object-electorate">
  <h3>Electorates</h3>
  <div class="row">
    <div class="six columns">
      <div id="electorates-new"></div>
    </div>
    <div class="six columns">
      <ul id="electorates-list"></ul>
    </div>
  </div>
</div>
<div id="positions" class="fractions-object-position">
  <h3>Positions</h3>
  <div class="row">
    <div class="six columns">
      <div id="positions-new"></div>
    </div>
    <div class="six columns">
      <ul id="positions-list"></ul>
    </div>
  </div>
</div>
<div id="regions" class="fractions-object-region">
  <h3>Regions</h3>
  <div class="row">
    <div class="six columns">
      <div id="regions-new"></div>
    </div>
    <div class="six columns">
      <ul id="regions-list"></ul>
    </div>
  </div>
</div>
<div id="children" class="fractions-object-fraction">
  <h3>Child Fractions</h3>
  <div class="row">
    <div class="six columns">
      <div id="children-new"></div>
    </div>
    <div class="six columns">
      <ul id="children-list"></ul>
    </div>
  </div>
</div>
<div id="founded-fractions" class="fractions-object-fraction">
  <h3>Founded Fractions</h3>
  <div class="row">
    <div class="six columns">
      <div id="founded-fractions-new"></div>
    </div>
    <div class="six columns">
      <ul id="founded-fractions-list"></ul>
    </div>
  </div>
</div>
