<div class="row">
  <h1><%= fraction.escape('name') %></h1>
  <h2>
    <% if (fraction.parent().escape('id')) { %>
      a fraction of <%= fraction.parent().a(fraction.parent().escape('name')) %>
      <% if (fraction.parent().escape('id') !== fraction.root().escape('id')) { %>
       in the realm of <%= fraction.root().a(fraction.root().escape('name')) %>
      <% } %>
    <% } else { %>
      an independent realm
    <% } %>
    founded by
    <% if (fraction.get('founder_type') === 'Fraction') { %>
      the fraction
    <% } %>
    <%= fraction.founder().a(fraction.founder().escape('name')) %>
  </h2>
</div>

<div class="row">
  <div class="four columns">
    <div class="tab">
      <h3><%= fraction.electorates().a('Electorates') %></h3>
    </div>
    <div class="tab">
      <h3><%= fraction.positions().a('Positions') %></h3>
    </div>
    <div class="tab">
      <h3><%= fraction.regions().a('Regions') %></h3>
    </div>
    <div class="tab">
      <h3><%= fraction.children().a('Children') %></h3>
    </div>
    <ul>
      <li>population</li>
      <li>culture</li>
      <li>realm size</li>
      <li>founded date</li>
      <li>founder</li>
      <li>government authorizations</li>
    </ul>
  </div>
  <div class="eight columns">
    <div class="tab-content"></div>
  </div>
</div>

<div class="row">
  <div class="four columns">
    <h3>Events</h3>
    <ul>
      <li>new electorates, positions, regions</li>
      <li>completed ballots</li>
      <li>completed wars</li>
    </ul>
  </div>
  <div class="four columns">
    <h3>Ballots</h3>
    <p>
      A display of all ongoing ballots, with icon indicating whether current character can participate
    </p>
  </div>
  <div class="four columns">
    <h3>Wars</h3>
    <p>
      A display of all ongoing wars
    </p>
  </div>
</div>
