<header>
  <%= link_to "Home", '/#/' %>
  <% if signed_in? %>
    | <%= link_to "Sign Out", session_url, method: "delete", id: 'sign-out' %>
    | <%= link_to "Account (#{ current_user.name })", '/#/users/' + current_user.id.to_s, id: 'account' %>
    <span class="current-character-header-link"></span>
  <% else %>
    | <%= link_to "Sign Up", new_user_url,    id: 'sign-up' %>
    | <%= link_to "Sign In", new_session_url, id: 'sign-in' %>
  <% end %>
  <br>
  <div class="search">
    <input type="text" placeholder="search" onfocus="Fractions.nameSearch(event)">
  </div>
</header>
