<header>
  <%= link_to "Home", '/#/' %>
  <% if signed_in? %>
    | <%= link_to "Sign Out", session_url, method: "delete", id: 'sign-out' %>
    | <%= link_to "Account (#{ current_user.username })", '/#/users/' + current_user.id.to_s, id: 'account' %>
    <span class="current-character-header-link"></span>
  <% else %>
    | <%= link_to "Sign Up", new_user_url,    id: 'sign-up' %>
    | <%= link_to "Sign In", new_session_url, id: 'sign-in' %>
  <% end %>
  <input id="search" type="text" value="" placeholder="search">
  <script type="text/javascript">
    $('#search').autocomplete({
      serviceUrl: '/api/search',
      dataType: 'json',
      groupBy: 'category',
      params: {
        classes: ['Character', 'Electorate', 'Fraction', 'Position', 'Region'],
        // classes: ['Fraction']
      },
      onSelect: function (suggestion) {
        Backbone.history.navigate(
          '#/' + suggestion.data.category + '/' + suggestion.data.id
        );
      },
    });
  </script>
</header>
