<header>
  <%= link_to "Home", '/#/' %>
  <% if signed_in? %>
    | <%= link_to "Sign Out", session_url, method: "delete" %>
    | <%= link_to "Account (#{current_user.username})", '/#/users/' + current_user.id.to_s %>
    <span class="current-character-header-link"><% if current_character %>
      | <%= link_to current_character.name, '/#/characters/' + current_character.id.to_s %>
    <% end %></span>
  <% else %>
    | <%= link_to "Sign Up", new_user_url %>
    | <%= link_to "Sign In", new_session_url %>
  <% end %>
</header>
