<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fractions</title>
  <meta name="description" content="The Fractions plugin, for Minecraft">
  <meta name="author" content="Nick Barry">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png'%>
</head>
<body>
  <div class="container">
    <div class="row">
      <%= render "layouts/header" %>
    </div>

    <div class="row">
      <%= render "layouts/messages" %>
    </div>

    <div class="row">
      <%= yield %>
    </div>

    <div class="row">
      <%= render "layouts/footer" %>
    </div>
  </div>
</body>
</html>
